# This doesn't always work right due to hostname or routing difficulties.
# If you use a real host rather than localhost it is more likely to work correctly.
# Will fix this ;)

:2016/tiles/ {
	root src/backend/data/processed/tiles/
    header Cache-Control max-age={$ITP_CADDY_CACHE_TIME:0}
	browse
}

:2016/map/ {
	root src/frontend/www/
}

:2016/api/ {
	proxy / :2017 {
		websocket
	}
}

:2016 {
	# Temporarily redirect root to /map
	redir / /map/ 307
}
