# This doesn't always work right due to hostname or routing difficulties.
# If you use a real host rather than localhost it is more likely to work correctly.
# Will fix this ;)

localhost:2016/tiles/ {
	root src/appjl/data/processed/tiles/
	browse
}

localhost:2016/map/ {
	root src/appts/www/
}

localhost:2016 {
	redir /map/
}
