#map, body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.floater {
    position: absolute;
    top: 15px;
    right: 15px;

    /* Scroll */
    overflow: auto;
    max-height: 95%;
}
