#map, body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.floater {
    position: absolute;
    top: 15px;
    right: 15px;

    /* Scroll */
    max-height: 95%;
}

#wb {
  position: absolute;
  top: 15px;
  left: 180px;
  height: 90px;
  border-radius: 5px;
}

#kggtf {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 90px;
  border-radius: 5px;
}

#itp {
  position: absolute;
  top: 15px;
  left: 405px;
  height: 90px;
  border-radius: 5px;

  background: white;
  padding: 5px
}

.legend {
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding: 3px;
}

.legend-block {
  width: 25px;
  height: 25px;
}

.legend-item {
  padding-left: 3px;
  padding-right: 3px;
  min-width: 25px;
  height:10px;
}

.mapboxgl-popup-content {
  background-color: #333;
}

.gcvt-popup-tr:nth-child(even) {
    background-color: #555;
}

.gcvt-toggle-label {
  display: inline;
}

.gcvt-panel-box {
  padding: 15px;
  width: 350px;
}

.material-switch {
  display: inline;
}

#zoneHint {
  display: inline-block;
  width: 300px;
}

.panel {
  max-height: 95vh;
  overflow-y: auto;
}
