html, body, .container-fluid, .tabbable, .tab-pane.active, .row, .row > div {
    height: 100%
}

.floater {
    position: absolute;
    top: 15px;
    right: 15px;

    /* Scroll */
    overflow: auto;
    height: 95vh;
}


.tab-content {
    height: calc(100% - 42px);
}

.footer {
    height: initial;
    font-size: smaller;
    text-align: center;
}

.gcvt-td {
    padding: 2px;
}
.gcvt-popup-tr:nth-child(even) {
    background-color: #eeeeee;
}

#gcvt-heading {
    text-align: right;
}
