html, body, .container-fluid, .tabbable, .tab-pane.active, .row, .row > div {
    height: 100%
}

.floater {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 10px;
    width: 25em;
    background: white;
    margin-right: -23em;
}

.floater * {
    position:relative;
}

.floater:hover {
    height: auto;
    width: auto;
    overflow: visible;
    margin-right: 0;
}

.tab-content {
    height: calc(100% - 42px);
}

.footer {
    height: initial;
    font-size: smaller;
    text-align: center;
}

.gcvt-popup-tr:nth-child(even) {
    background-color: lightgray;
}
